node_modules
.env*

# yarn 
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
package-lock.json

# testing
coverage
lib-cov
coverage.json

# typechain
types

# hardhat
cache
artifacts


# vim
*.sw[a-z]
